<%- include('layouts/header') %>

<%- include('layouts/navbar') %>

    <div class="container">
        <h1 style="color: gold;">Werucome to Your Online Car Dealer</h1>
    </div>
~


<%- include('layouts/footer') %>

