<%- include('layouts/header') %>
	<%- include('layouts/navbar') %>


		<div class="container">
			<h1>Login </h1>
		</div>
		<div class="container text-center">
			<% if(error) { %>
				<p style="color: red;"> <%= error %> </p>
				<% } %>
		</div>
		<div class="container">
			<form action="/login" method="post">
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" id="username" name="userName" placeholder="eg: doffy13">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="eg: Aaaaaaa13">
				</div>
				<button type="submit" class="btn btn-success">Submit</button>
				<a class="btn btn-primary" href="/register" role="button">Register Now!</a>
			</form>
		</div>


		<%- include('layouts/footer') %>