<%- include('../layouts/header') %>
  <%- include('../layouts/navbar') %>
    <div class="container mb-3">
      <h1>REGISTER FORM</h1>
    </div>
    <div class="container">
      <form method="post">
        <div class="container mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" name="userName" aria-describedby="emailHelp">
        </div>
        <div class="container mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="container mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="container mb-3">
          <label for="password" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="password" name="confirmPassword">
        </div>

        <div class="container mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <%- include('../layouts/footer') %>